@{ ViewData["Title"] = "Home Page"; }

<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
<html>
<body class="teal column">


    <div class="text-center">
        <h1 class="ui huge header ui primary header">Michigan's Favorite Restaurant Finder</h1>
        <p class="ui sub header ui yellow header">This application will help you find your next favorite restaurant in Michigan.</p>
    </div>
</body>
</html>