@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="ui huge header ui huge header blue">@ViewData["Title"]</h1>

<p class="ui sub header ui yellow header">The only information that gets collected is the information about your favorite restaurants.</p>
