@model FavoriteRestaurantsCapstone.Models.Restaurants

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Restaurants</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RestaurantName" class="control-label"></label>
                <input asp-for="RestaurantName" class="form-control" />
                <span asp-validation-for="RestaurantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuisineType" class="control-label"></label>
                <input asp-for="CuisineType" class="form-control" />
                <span asp-validation-for="CuisineType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AverageCost" class="control-label"></label>
                <input asp-for="AverageCost" class="form-control" />
                <span asp-validation-for="AverageCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuItems" class="control-label"></label>
                <input asp-for="MenuItems" class="form-control" />
                <span asp-validation-for="MenuItems" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
